*  {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}   

body {
    font-family: Roboto, sans-serif;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: rgb(23, 15, 52);
    color: white;
}

.logo {
    font-size: 20px;
    font-style: normal;
    display: flex;
}

.logo img{
    width: 70px;
}

.logo h1 {
    font-size: 30px;
    margin-left: 10px;
    margin-top: 30px;
}

nav ul {
    display: flex;
    gap: 20px;
    padding: 50px;
    list-style: none;
}

nav ul li {
    margin-left: 50px;
}

nav ul li a {
    text-decoration: none;
    color: yellow;
    font-size: 20px;
}

nav ul li a:hover{
    color: white;
    background-color: rgb(140, 114, 234);
    margin: auto;
}

.hero img{
    width: 100%;
    height: 400px;
    object-fit: cover;
}

footer {
    background-color: rgb(23, 15, 52);
    color: white;
    text-align: center;
    padding: 20px;
}   